# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.production.local
.env.development.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
